
  
  .cardJC {
    border: solid rgb(1, 79, 151) !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
  }
  
  .card-header-category {
    background: rgb(1, 79, 151) !important;
    color: white;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }
  
  .card-text-category {
    color: #1f273e;
  }
  
  .card-container-category {
    overflow: scroll;
    -webkit-transition: height 1s;
    transition: height 1s;
    height: 1px;
  }
  
  .card-body-category {
    -webkit-transition: height 1s;
    transition: height 1s;
    height: 50px;
  }
  
  .card-body-height-category {
    height: 550px;
  }
  
  .item-card-height-category {
    height: 500px;
  }
  
  .ul-category {
    list-style: none;
    padding: 0;
  }
  
  .item-card {
    margin-right: 15px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    box-shadow: var(--boxShadowLight);
    box-sizing: border-box;
    padding: 10px;
    transition-property: all;
    transition-duration: 200ms;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    border-left: 6px rgb(1, 79, 151) solid;
  }
  
  .item-card:hover,
  .item-card-active {
    box-shadow: rgb(1, 79, 151) !important;
    color: white;
    background-color: rgb(1, 24, 44) !important;
  }
  
  .item-card:hover .group-name span.badge,
  .item-card.active .group-name span.badge {
    background-color: white;
    color: #20283e;
  }
  
  .group-name span.badge {
    background-color: #20283e;
    line-height: 1.3;
  }
  